html, body {
    margin: 0;   
    padding: 0;
    height: 100%;
    color: #eeeeee;
}

body {
    background-color: #252525;
    padding-top: 30px;
}

#buttons {
    padding-top: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#info-container {
   display: flex; 
   flex-direction: row;
}

.button_container {
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#user-container {
    margin-left: 100px;
    width: 15%;
}

#user-header {
    font-size: 20px;
    font-weight: bold;
}

button {
    width: 70%;
    height: 85%;
    background-color: #2a2a2a;
    border: #4b4b4b 2px solid;
    color: #eeeeee;
    user-select: none;
    font-size: 20px;
}

button:hover {
    background-color: #2f2f2f;
}

button[push] {
    background-color: #ff3e55;
    border-color: #2f2f2f;
}

button[push].on {
    background-color: #2eff55;
}

.on {
    border-color: #2eff55;
}

.off {
    border-color: #ff3e55;
}

#video {
    border: 3px solid #393939;

    width: 50%;
    height: auto;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
