:root {
    --bg-color: #252525;
    --font-color: #eeeeee;
    --border-color: #4b4b4b;
    --button-color: #2a2a2a;
    --button-hover-color: #2f2f2f;
    --on-color: #2eff55;
    --off-color: #ff3e55;
}

html, body {
    margin: 0;   
    padding: 0;
    height: 100%;
    color: var(--font-color);
}

body {
    background-color: var(--bg-color);
    padding-top: 10px;
    font-size: 16px;
}

#buttons {
    padding-top: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button_container {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#buttons button {
    width: 100%;
    height: 100%;
    background-color: var(--button-color);
    border: var(--border-color) 2px solid;
    color: var(--font-color);
    user-select: none;
}

#buttons button:hover {
    background-color: var(--button-hover-color);
}

#buttons button[push] {
    background-color: var(--off-color);
}

#buttons button[push].on {
    background-color: var(--on-color);
}

#buttons .on {
    border-color: var(--on-color);
}

#buttons .off {
    border-color: var(--off-color);
}

#video {
    border: 3px solid var(--border-color);

    max-width: 95vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#user-container {
    position: sticky;
    top: 10px;
    left: 0;
    z-index: 1;
}

#users {
    position: absolute;
    top: 10px;
    left: 0;
    overflow-y: auto;
    max-height: 50vh;
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    list-style-type: none;
    padding: 0 5px;
}