<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Radio</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="/switch" method="post">
            {{ range . }}
            <div class="button_container">
                {{ if .IsEnabled }}
                <button id="radio_{{ .Num }}" type="submit" formaction="/switch/{{ .Num }}" class="{{ .Status }}">radio {{ .Num }}</button>
                {{ else }}
                <button id="radio_{{ .Num }}" type="button" class="{{ .Status }}">radio {{ .Num }}</button>
                {{ end }}
            </div>
            {{ end }}
        </form>
    </body>
</html>
