<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Radio</title>
        <link href="/css/style.css" rel="stylesheet">
        <script src="/js/index.js"></script>
    </head>
    <body>
        <button id="editor_but" onclick="request_editor()">Pin Editor (<span id="current_editor_span"></span>)</button>

        <div id="user-container">
            <button onclick="users_popup()">Users (count: <span id="user_count"></span>)</button>
            <ul id="users" hidden></ul>
        </div>

        <canvas id="video" hidden></canvas>

        <div id="buttons"></div>
    </body>
</html>
