<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Radio</title>
        <link href="/css/style.css" rel="stylesheet">
        <script src="/js/index.js"></script>
    </head>
    <body>

        <div id="user-container">
            <button onclick="users_popup()">Users (count: <span id="user_count"></span>)</button>
            <ul id="users" hidden></ul>
        </div>

        <canvas id="video" hidden></canvas>

        <div id="buttons">
            {{ range .Buttons }}
            <div class="button_container">
                {{ if .IsToggle }}
                <button id="radio_{{ .Num }}" pin_num="{{ .Num }}" toggle>{{ .Name }}</button>
                {{ else }}
                <button id="radio_{{ .Num }}" pin_num="{{ .Num }}" push>{{ .Name }}</button>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </body>
</html>
